@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.full-width-carousel {
  width: 100%;
}

.full-width-slide {
  position: relative;
}

.slide-image {
  width: 100%;
  height: 100vh;
}

.slide-text-container {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90%;
  height: 20%; /* Adjust as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: for better text visibility */
  color: white; /* Text color */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
 
}

.slide-text {
  font-size: 15px;
  margin: 0;
  font-family: 'Poppins','Sans Seriff';
}

.slide-title {
  font-size: 20px;
  margin: 0 0 5px 0; /* Adjust as needed */
  font-family: 'Poppins','Sans Seriff';
  font-weight: 800;
}
