.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .blog-container {
    padding: 50px 20px;
  }
  
  .blog-list-header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .blog-list-header h1 {
    font-size: 2.5em;
    color: #333;
  }
  
  .blog-list-header p {
    font-size: 1.2em;
    color: #666;
    margin: 0 auto;
    max-width: 600px;
  }
  